{% extends 'base.html' %}
{% block content %}
    <h1>Courses</h1>
    <div class="list-group">
        {% for course in courses %}
            <a class="list-group-item list-group-item-action" href="{{ url_for('course',course_id=course['_id']) }}">{{ course.name }}</a>
        {% endfor %}
    </div>
    {% if form %}
    <form method="post" action="{{ url_for('course_new') }}">
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title }}
        {{ form.dept.label }} {{ form.dept }}
        {{ form.number.label }} {{ form.number }}
        {{ form.credit_hrs.label }} {{ form.credit_hrs }}
        {{ form.capacity.label }} {{ form.capacity }}
        {{ form.gen_ed.label }} {{ form.gen_ed }}
        {{ form.desc.label }} {{ form.desc }}
        {{ form.edit.label }} {{ form.edit }}


    </form>
    {% endif %}
{% endblock %}