{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <h1>{{ course.title }} <small class="text-muted">{{ course.name }}</small></h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <a href="{{ url_for('courses') }}" class="btn btn-primary">Go Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <p>
                        {{ course.title }} {{ course.name }} {{ course.credit_hrs }} {{ course.capacity }} {{ course.gen_ed }} {{ course.desc }}
                        {{ course.dept }} {{ course.division }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Edit Course</h2>
                    {% if form %}
                        <form method="post" action="{{ url_for('course_edit',course_id=course['_id']) }}">
                            <div class="row">
                                {{ form.hidden_tag() }}
                                <div class="col-md">
                                    {{ form.title.label }} {{ form.title }}
                                </div>
                                <div class="col-md">
                                    {{ form.number.label }} {{ form.number }}
                                </div>
                                <div class="col-md">
                                    {{ form.credit_hrs.label }} {{ form.credit_hrs }}
                                </div>
                                <div class="col-md">
                                    {{ form.capacity.label }} {{ form.capacity }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    {{ form.gen_ed.label }} {{ form.gen_ed }}
                                </div>
                                <div class="col-md">
                                    {{ form.desc.label }} {{ form.desc }}
                                </div>
                                <div class="col-md">
                                    {{ form.dept.label }} {{ form.dept }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    {{ form.edit(class_="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}