{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Collections
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('users') }}">Users</a>
                        <a class="dropdown-item" href="{{ url_for('courses') }}">Courses</a>
                        <a class="dropdown-item" href="{{ url_for('proposals') }}">Proposals</a>
                        <a class="dropdown-item" href="{{ url_for('depts') }}">Departments</a>
                        <a class="dropdown-item" href="{{ url_for('gers') }}">General Education Requirements</a>
{#                        <a class="dropdown-item" href="{{ url_for('calendar_events') }}">Calendar Events</a>#}
                    </div>
                </li>
                <li>
            </ul>
        </div>
    </nav>
{% endblock %}